* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    height: 80px;
    background-color: #BCB8B1;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: white;
}

span {
    font-size: larger;
    margin-left: 45%;
    font-weight: bold;
}

.product,
.addressee_info,
.total {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 30px 15%;
    width: 70%;
    padding: 30px;
    line-height: 30px;
    background-color: #F4F3EE;
}

.order_info {
    margin: 10px 0px 0px 40px;
    font-size: 25px;
    line-height: 45px;
}

p {
    font-size: 20px;
    position: relative;
    margin-left: 260px;
    margin-top: 10px;
}

.product_img {
    height: 150px;
    margin: 0px 20px;
}

.addressee_info,
.total {
    display: block;
    line-height: 60px;
    background-color: white;
}

label {
    margin: 0px 10px;
}

.input_box1 {
    height: 28px;
    width: 150px;
}

.input_box2 {
    height: 28px;
    width: 360px;
}

.input_box3 {
    height: 28px;
    width: 100px;
}

.familyMart {
    position: absolute;
    right: 20px;
}

.seven {
    position: absolute;
    right: 20px;
    top: 70px;
}

.check_out {
    font-size: 25px;
    width: 120px;
    height: 50px;
    position: relative;
    margin-left: 78%;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #E0AFA0;
    color: white;
}

.left {
    height: 30px;
}

.logo {
    height: 50px;
}